<ion-header dir="rtl">
  <ion-toolbar dir="rtl">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <b class="Font_theme">المحامين</b>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="Font_theme" placeholder="ابحث عن محامي" (ionChange)="searchLawyers($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-list class="Font_theme">
    <ion-item *ngFor="let lawyer of lawyers" class="lawyer-item Font_theme">
      <ion-avatar slot="start" class="lawyer-avatar">
        <ion-img [src]="lawyer.image" />
      </ion-avatar>
      <ion-label class="Font_theme">
        <h2 class="lawyer-name">{{lawyer.firstName}} {{lawyer.lastName}}</h2>
        <p class="lawyer-specialty">التخصص : {{lawyer.specialized}}</p>
        <p class="lawyer-type">النوع : {{lawyer.path}}</p>
      </ion-label>
      <ion-button (click)="send(lawyer.id)" routerLink="/advisory" color="" slot="end" class="payment-button">الأتعاب : {{lawyer.advisoryPrice}} ريال</ion-button>
    </ion-item>
  </ion-list>
</ion-content>