.Font_theme{
    font-family: 'MuhamiApp_Font';
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.041);
}

b{
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 30px;
}

h5{
    color: rgb(69, 69, 69);
    margin-right: 40px;
    margin-top: 150px;
}
p{
    color: rgb(69, 69, 69);
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}