<ion-header >
  <ion-toolbar dir="rtl">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <b class="Font_theme">التنبيهات</b>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
<h5 class="Font_theme">
  لا يوجد لديك تنبيهات في الوقت الحالي
</h5>
<p class="Font_theme">
  سنعرض لك كل التنبيهات الخاصة بطلباتك او رسائل المحامين هنا
</p>

</ion-content>
