.Font_theme{
    font-family: 'MuhamiApp_Font';
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.041);
}

b{
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 30px;
}

ion-card{
    border: solid 1px #afafaf;
}
ion-label{
    margin-right: 13px;
    font-family: 'MuhamiApp_Font';
}

.icon-color{
    color: #d0a51a;
}