<ion-header >
  <ion-toolbar>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <b class="Font_theme">الإعدادات</b>
    </ion-row>
    
  </ion-toolbar>
</ion-header>


<ion-content dir="rtl" class="background">

  <ion-card >
    <ion-list lines="full">
      <ion-item routerLink="/about-us">
        <ion-icon class="icon-color" name="id-card"></ion-icon>
        <ion-label class="Font_theme">من نحن</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/connect-us">
        <ion-icon class="icon-color" name="chatbubble"></ion-icon>
        <ion-label class="Font_theme">تواصل معنا</ion-label>
      </ion-item>
      <ion-item routerLink="/notifications">
        <ion-icon class="icon-color" name="notifications"></ion-icon>
        <ion-label class="Font_theme">التنبيهات</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card >
    <ion-list lines="full">
      <ion-item routerLink="/edit-profile">
        <ion-icon class="icon-color" name="person"></ion-icon>
        <ion-label class="Font_theme">تعديل الحساب</ion-label>
      </ion-item>
      <ion-item routerLink="home">
        <ion-icon class="icon-color" name="lock-closed"></ion-icon>
        <ion-label class="Font_theme">تغيير كلمة المرور</ion-label>
      </ion-item>
      <ion-item routerLink="home">
        <ion-icon class="icon-color" name="log-out-outline"></ion-icon>
        <ion-label class="Font_theme" routerLink="/login">تسجيل الخروج</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card >
    <ion-list lines="full">
      <ion-item routerLink="home" >
        <ion-icon class="icon-color" name="share-social"></ion-icon>
        <ion-label class="Font_theme">مشاركة التطبيق</ion-label>
      </ion-item>
    </ion-list>  
  </ion-card>    


</ion-content>
