
<ion-img class="circular-image"
src="https://docs-demo.ionic.io/assets/madison.jpg"
alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>

<div class="Font_theme" dir="rtl">

  <br>

  <div class="inputBox">
    <ion-label>الاسم الاول</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>الاسم الثاني</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>رقم الجوال</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>البريد الإلكتروني</ion-label>
    <ion-input></ion-input>
  </div>


  

  <div class="inputBox" >
    <ion-label>رقم ترخيص مزاولة مهنة المحاماة</ion-label>
    <ion-input ></ion-input>
  </div> 


  <div >
    <ion-list>
      <ion-item>
        <ion-select aria-label="المؤهل العلمي" interface="popover" placeholder="المؤهل العلمي">
          <ion-select-option value="ماجستير">ماجستير</ion-select-option>
          <ion-select-option value="بكالوريس">بكالوريس</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  
  
  <br>


  
</div>
