<br>

<div class="image-container" (click)="fileInput.click()">
  <ion-avatar class="center-logo">
    <ion-img class="circular-image" [src]="user.image" >
    </ion-img>
  </ion-avatar>
  <ion-icon class="camera-icon" name="camera"></ion-icon>
</div>

<input #fileInput type="file" accept="image/*" (change)="updateProfilePicture($event)" style="display: none;">


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br>


<div class="Font_theme" dir="rtl">

  <br>

  <!-- لا تنسى يا بدر تحط ngModel في الادخال، وبعد لا تنسى مشكلة استرجاع الصور من الداتا بيس -->
  <div class="container">
    <ion-label class="input-label">الاسم الأول</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">
      <ion-input maxlength="10" type="text" [clearInput]="true" [(ngModel)]="user.firstName" name="firstName"
        #firstName="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">*
      الاسم الأول مطلوب
    </div>
  </div>

  <br>

  <div class="container">
    <ion-label class="input-label">الاسم الاخير</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">
      <ion-input maxlength="10" type="text" [clearInput]="true" [(ngModel)]="user.lastName" name="lastName"
        #lastName="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">*
      الاسم الأخير مطلوب
    </div>
  </div>

  <br>

  <div class="container">
    <ion-label class="input-label">رقم الجوال</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
      <ion-input maxlength="10" minlength="10" type="tel" placeholder="053-280-1400" [clearInput]="true"
        [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">*
      يجب ان يكون طول رقم الجوال 10 ارقام
    </div>
  </div>

  <br>

  <div class="container">
    <ion-label class="input-label">البريد الإلكتروني</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="email.invalid && (email.dirty || email.touched)">
      <ion-input type="email" placeholder="Example@Example.com" [clearInput]="true" [(ngModel)]="user.email"
        name="email" #email="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="email.invalid && (email.dirty || email.touched)">*
      يجب إدخال بريد إلكتروني صحيح
    </div>
  </div>

  <br>

  <div class="container">
    <ion-label class="input-labelli">رقم ترخيص مزاولة المهنة</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="license.invalid && (license.dirty || license.touched)">
      <ion-input type="tel" maxlength="10" minlength="10" placeholder="1234567890" [clearInput]="true" [(ngModel)]="user.license"
        name="license" #license="ngModel"></ion-input>
    </ion-item>
    <ion-label class="error-label" *ngIf="license.invalid && (license.dirty || license.touched)">*
      رقم ترخيص مزاولة المهنة مطلوب ويجب أن يكون 10 أرقام
    </ion-label>
  </div>

  <br>

  <div class="option">
        <ion-select [(ngModel)] = "user.specialized" class="Font_theme" aria-label="التخصص الأكاديمي" interface="popover" placeholder="التخصص الأكاديمي">
          <ion-select-option value="قانون">قانون</ion-select-option>
          <ion-select-option value="شريعة">شريعة</ion-select-option>
        </ion-select>
  </div>
  
  <br>

  <div class="option">
      <ion-select [(ngModel)] = "user.path" class="Font_theme" aria-label="المسار القانونية" interface="popover" placeholder="المسار القانونية">
        <ion-select-option value="تجاري">تجاري</ion-select-option>
        <ion-select-option value="جنائي">جنائي</ion-select-option>
        <ion-select-option value="عمالي">عمالي</ion-select-option>
        <ion-select-option value="شخصية">شخصية</ion-select-option>
        <ion-select-option value="حقوقي">حقوقي</ion-select-option>
        <ion-select-option value="احتيال">احتيال</ion-select-option>
        <ion-select-option value="شركات">شركات</ion-select-option>
        <ion-select-option value="مروري">مروري</ion-select-option>
        <ion-select-option value="عقاري">عقاري</ion-select-option>
        <ion-select-option value="طبي">طبي</ion-select-option>
        <ion-select-option value="إرث">إرث</ion-select-option>
        <ion-select-option value="إداري">إداري</ion-select-option>
      </ion-select>
  </div>

  <br>

  <div class="option ">
      <ion-select [(ngModel)] = "user.advisoryPrice" class="Font_theme" aria-label="الأتعاب المالية" interface="popover" placeholder="الأتعاب المالية">
        <ion-select-option value="150">150</ion-select-option>
        <ion-select-option value="300">300</ion-select-option>
        <ion-select-option value="500">500</ion-select-option>
      </ion-select>
</div>
  

  <br>

  <app-button label="حفظ" (click)="save()"></app-button>


  
</div>
