<ion-content class="Font_theme" [fullscreen]="true" mode="ios">

  <ion-tabs dir="rtl">
    <ion-tab-bar slot="bottom,top">
  
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
          <ion-label class="Barlabel">الرئيسية</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="requests">
        <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>الطلبات</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="connect-us">
        <ion-icon name="call-outline"></ion-icon>
          <ion-label>تواصل معنا</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
          <ion-label>الإعدادات</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

