<ion-header >
  <ion-toolbar>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <b class="Font_theme">الطلبات</b>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <ion-card routerLink="/settings">
    <ion-card-header>
      <ion-img class="center" src="../assets/img/LegalServices.png"></ion-img>
      <ion-card-title class="Font_theme first-title" >طلبات الخدمات القانونية</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="custom-card" routerLink="/settings">
    <ion-card-header>
      <ion-img class="center" src="../assets/img/LegalServices.png"></ion-img>
      <ion-card-title class="Font_theme first-title" >طلبات الخدمات القانونية</ion-card-title>
    </ion-card-header>
  </ion-card> -->

</ion-content>
