.Font_theme{
    font-family: 'MuhamiApp_Font';
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.041);
}

b{
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 30px;
}

// .center{
//     height: 35%;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 0;
//     width: 20%;
// }

// .first-title{
//     padding-right: 50px;
//     padding-top: 10px;
//     font-size: 20px;
// }

// .custom-card{
//     margin-right: 10px;
//     margin-left: 150px;
// }