<ion-content class="Font_theme" dir="rtl">

  <br>
  <ion-img class="center" src="../assets/img/finalLogo.png" horizontal="center" vertical="center"></ion-img>

  <br>

  <br>


  <div class="inputBox">
    <ion-label>البريد الإلكتروني</ion-label>
    <ion-input></ion-input>
  </div>
  
  <br>

  <div class="inputBox">
    <ion-label>كلمة المرور</ion-label>
    <ion-input></ion-input>
  </div>

  <ion-label class="forgetPass" routerLink="/forget-pass">نسيت كلمة المرور؟</ion-label>
  <br><br>

  <app-button label="تسجيل الدخول"></app-button>
  <br>

  <ion-label class="createAcc" routerLink="/registration">ليس لديك حساب ؟ انشئ حساب جديد</ion-label>

</ion-content>