
<ion-grid>
  <ion-row routerLink="./pages/login">
    <ion-col class="border-left">
      <ion-img src="../assets/img/commercial (2).png" (click)="nav('تجاري')"></ion-img>
      <h3 class="Font_theme">تجاري</h3>
    </ion-col>

    <ion-col >
      <ion-img src="../assets/img/criminal.png" (click)="nav('جنائي')"></ion-img>
      <h3 class="Font_theme">جنائي</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img  src="../assets/img/workers.png" (click)="nav('عمالي')"></ion-img>
      <h3 class="Font_theme">عمالي</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/personal.png" (click)="nav('شخصية')"></ion-img>
      <h3 class="Font_theme">شخصية</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/rights.png" (click)="nav('حقوقي')"></ion-img>
      <h3 class="Font_theme">حقوقي</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/scam.png" (click)="nav('احتيال')"></ion-img>
      <h3 class="Font_theme">احتيال</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/company.png" (click)="nav('شركات')"></ion-img>
      <h3 class="Font_theme">شركات</h3>
    </ion-col>
    <ion-col >
      
      <ion-img src="../assets/img/car.png" (click)="nav('مروري')"></ion-img>
      <h3 class="Font_theme">مروري</h3>

    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/rent.png" (click)="nav('عقاري')"></ion-img>
      <h3 class="Font_theme">عقاري</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/medical.png" (click)="nav('طبي')"></ion-img>
      <h3 class="Font_theme">طبي</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/legacy.png" (click)="nav('إرث')"></ion-img>
      <h3 class="Font_theme">إرث</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/Administrative.png" (click)="nav('إداري')"></ion-img>
      <h3 class="Font_theme">إداري</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>


