




<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/commercial (2).png"></ion-img>
      <h3 class="Font_theme">تجاري</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/criminal.png"></ion-img>
      <h3 class="Font_theme">جنائي</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img  src="../assets/img/workers.png"></ion-img>
      <h3 class="Font_theme">عمالي</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/personal.png"></ion-img>
      <h3 class="Font_theme">شخصية</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/rights.png"></ion-img>
      <h3 class="Font_theme">حقوقي</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/scam.png"></ion-img>
      <h3 class="Font_theme">احتيال</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/company.png"></ion-img>
      <h3 class="Font_theme">شركات</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/car.png"></ion-img>
      <h3 class="Font_theme">مروري</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/rent.png"></ion-img>
      <h3 class="Font_theme">عقاري</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/medical.png"></ion-img>
      <h3 class="Font_theme">طبي</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="border-left" >
      <ion-img src="../assets/img/legacy.png"></ion-img>
      <h3 class="Font_theme">إرث</h3>
    </ion-col>
    <ion-col >
      <ion-img src="../assets/img/Administrative.png"></ion-img>
      <h3 class="Font_theme">إداري</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>



<!-- <ion-card routerLink="/settings">
  <ion-card-header>
    <ion-img class="center" src="../assets/img/LegalServices.png"></ion-img>
    <ion-card-title class="Font_theme first-title" >الخدمات القانونية</ion-card-title>
  </ion-card-header>

  <ion-card-content class="Font_theme first-content">
    قدم طلبك واستقبل أفضل العروض من المحامين
  </ion-card-content>
</ion-card>

<ion-card routerLink="home">
  <ion-card-header>
    <ion-img class="center" src="../assets/img/Advisorys.png"></ion-img>
    <ion-card-title class="Font_theme second-title">الاستشارات القانونية</ion-card-title>
  </ion-card-header>

  <ion-card-content class="Font_theme second-content">
    لطلب استشارة قانونية وطرح الاسئلة في موضوع معين
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header routerLink="home">
    <ion-img class="center" src="../assets/img/Contracts.png"></ion-img>
    <ion-card-title class="Font_theme third-title" >مراجعة العقود</ion-card-title>
  </ion-card-header>

  <ion-card-content class="Font_theme first-content third-content">
    قم بإرسال عقدك للحصول على مراجعة وتدقيق قانوني
  </ion-card-content>
</ion-card> -->


