ion-grid {
    --ion-grid-padding: 20px;
  
    --ion-grid-padding-xs: 0px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;
  
    --ion-grid-column-padding: 30px;
  
    --ion-grid-column-padding-xs: 50px;
    --ion-grid-column-padding-sm: 30px;
    --ion-grid-column-padding-md: 30px;
    --ion-grid-column-padding-lg: 30px;
    --ion-grid-column-padding-xl: 30px;
  }

  .imgs{
    width: 90%;
    
  }
  
  ion-col {
    height: min-content;
    border-bottom: solid 0.1px #0000004f;
    color: #070404;
    text-align: center;
    
  }

  

  .border-left{
    border-left: solid 0.1px #0000004f;
  }





  

.Font_theme{
    font-family: 'MuhamiApp_Font';
}

.center{
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.center-logo{
    height: 35%;
    display: block;
    margin-left: 10%;
    margin-right: 20%;
    width: 35%;
}

.icon{
   margin-right: 55px;
   margin-left: 10px; 
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.283);
}





p{
    color: #000000ce;
    margin-top: 0;
}


.custom-row {
    border: 3px solid #007bff; /* تحديد سمك الخط ولونه */
  }


  ion-row {
    border-color: #000000; /* تغيير لون الخط إلى اللون الأحمر */
    border-width: 7px; /* تغيير سمك الخط إلى 2 بكسل */
  }



.first-title{
    padding-right: 75px;
    padding-top: 10px;
    font-size: 23px;
}
.first-content{
    font-size: 13px;
    padding-right: 12%;
}


.second-title{
    padding-right: 66px;
    padding-top: 10px;
    font-size: 23px;
}
.second-content{
    font-size: 13px;
    padding-right: 5.5%;
}


.third-title{
    padding-right: 90px;
    padding-top: 10px;
    font-size: 23px;
}
.third-content{
    font-size: 13px;
    padding-right: 6%;
}

div{
    justify-content: start;
    display: inline-flex;
    margin-top: 10px;
}
ion-card{
    box-shadow: -1px 11px 13px -6px rgb(99, 99, 99);
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255);
    border: solid 1px #afafaff0;
    margin: 15px 15px;
    ion-card-header{
        padding: 5px 0;
    }
    // ion-card-title{
    //     padding-right: 75px;
    //     padding-top: 10px;
    //     font-size: 25px;
    // }
    ion-img{
        width: 17%;
        height: 17%;
        margin-top: 0;
    }
    ion-card-content{
        padding-top: 5px;
        padding-bottom: 8px;
    }
    
}

// .title{
//     font-weight: bold;
// }
// .sorting{
//     margin-right: 18px;
//     font-weight: bold;
// }
