<ion-content>
  <div class="container">
    <div class="profile">
      <div class="edit-button-container">
        <ion-button expand="block" color="warning"  shape="round" size="small" routerLink=".. /pages/edit-profile">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="profile-image-container">
        <img class="profile-image" [src]="lawyer.image" alt="Profile image" />
      </div>
      <div class="profile-name">
        <i class="fas fa-heart" aria-hidden="true"></i>
        {{ lawyer.firstName }} {{ lawyer.lastName }}
      </div>
      <div class="profile-spec">{{ lawyer.specialized }}</div>
      <div class="profile-consultation">{{ lawyer.path }}</div>
    </div>
    <!-- <div class="statistics">
      <h2 class="statistics-title">إحصائيات</h2>
      <div class="stat-row">
        <div class="stat-item">
          <ion-icon name="people-outline"></ion-icon>
          <h3>{{ lawyer.clients }}</h3>
          <p>عملاء</p>
        </div>
        <div class="stat-item">
          <ion-icon name="briefcase-outline"></ion-icon>
          <h3>{{ lawyer.cases }}</h3>
          <p>قضايا</p>
        </div>
        <div class="stat-item">
          <ion-icon name="ribbon-outline"></ion-icon>
          <h3>{{ lawyer.awards }}</h3>
          <p>جوائز</p>
        </div>
      </div>
      <div class="average-response-time">
        متوسط وقت الاستجابة: {{ lawyer.responseTime }} ساعة
      </div>
    </div> -->
  </div>
</ion-content>