.Font_theme{
    font-family: 'MuhamiApp_Font';
}

.first-advisory{
    
    margin-right: 60px;
}

.second-advisory{
    margin-top: 0;
    margin-right: 50px;
}

.first-b{
    font-size: large; 
    color: #000000f9; 
    margin-right: 80px;
    margin-bottom: 0;
    font-weight: bold;
  }

.center{
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.center-icon{
    
    height: 15%;
    margin-top: 0;
    margin-right: 176px;
    width: 6%;
    color: #112549;
    
}
.center-logo{
    height: 35%;
    display: block;
    margin-left: 10%;
    margin-right: 20%;
    width: 35%;
}

.icon{
   margin-right: 55px;
   margin-left: 10px; 
   color: #112549;
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.283);
}



b{
  font-size: large; 
  color: #000000de; 
}

.first-title{
    padding-right: 75px;
    padding-top: 10px;
    font-size: 25px;
}
.first-content{
    font-size: 13px;
    padding-right: 12%;
}


.second-title{
    padding-right: 66px;
    padding-top: 10px;
    font-size: 25px;
}
.second-content{
    font-size: 13px;
    padding-right: 5.5%;
}


.third-title{
    padding-right: 90px;
    padding-top: 10px;
    font-size: 25px;
}
.third-content{
    font-size: 13px;
    padding-right: 6%;
}

div{
    justify-content: start;
    display: inline-flex;
    margin-top: 10px;
}
ion-card{
    box-shadow: -1px 11px 13px -6px rgb(99, 99, 99);
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255);
    border: solid 1px #afafaff0;
    margin: 15px 15px;
    ion-card-header{
        padding: 5px 0;
    }
    // ion-card-title{
    //     padding-right: 75px;
    //     padding-top: 10px;
    //     font-size: 25px;
    // }
    ion-img{
        width: 20%;
        height: 20%;
        margin-top: 0;
    }
    ion-card-content{
        padding-top: 5px;
        padding-bottom: 8px;
    }
    
}

// .title{
//     font-weight: bold;
// }
// .sorting{
//     margin-right: 18px;
//     font-weight: bold;
// }