.Font_theme{
    font-family: 'MuhamiApp_Font';
}

.center{
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.283);
}


b{
  font-size: large; 
  color: #000000b2; 
}
ion-card{
    box-shadow: -1px 11px 13px -6px rgb(87,86,86);
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255);
    border: solid #afafaf;
    ion-card-content{
        ion-lable{
            font-weight: bold;
            text-shadow: 1px 1px 1px var(--ion-color-medium);
            letter-spacing: 0.5px;
            
        }
    }
}
.title{
    font-weight: bold;
}
.sorting{
    margin-right: 18px;
    font-weight: bold;
}
