<ion-header >
  <ion-toolbar class="Font_theme" dir="rtl">

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-circle-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>انشاء حساب</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content dir="rtl" class="Font_theme">
<br>
  <app-input label="الإسم الأول"></app-input>
  <app-input label="الاسم الأخير"></app-input>
  <app-input label="رقم الجوال"></app-input>
  <app-input label="البريد الالكتروني"></app-input>
  <app-input label="المملكة العربية السعودية" readonly="true"></app-input>


  <app-button label="انشاء الحساب"></app-button>

  <ion-label class="createLawAcc" routerLink="/">اذا كنت محامي وترغب بالإنضمام إلى تطبق محامي يرجى التسجيل من هنا</ion-label>

  

</ion-content>