<ion-header>
  <ion-toolbar class="Font_theme" dir="rtl">

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-circle-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>انشاء حساب</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="Font_theme" dir="rtl">

    <br>
    <br>

    <ion-input class="Font_theme" class="inputDez" placeholder="الاسم الأول"></ion-input>

    <br>
    <br>

    <app-button label="انشاء الحساب" (click)="addUser()"></app-button>

    <br>

    <div class="createLawAcc">
      <ion-label routerLink="/">اذا كنت محامي وترغب بالإنضمام إلى تطبق محامي يرجى التسجيل من هنا</ion-label>
    </div>
  </div>

</ion-content>