.Font_theme{
    font-family: 'MuhamiApp_Font';
}

ion-content.background{
    --ion-background-color: rgba(232, 232, 232, 0.041);
}

b{
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 30px;
}

p{
    padding-right:4px;
    padding-left: 2px;
    padding-bottom: 5px;
    font-size: 18px;
}