<ion-header >
  <ion-toolbar dir="rtl">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <b class="Font_theme">من نحن </b>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">

  <p class="Font_theme">
  تطبيق محامي يوفر حلول تقنية للمحامين تمكنهم من التواصل المباشر مع العملاء وتقديم الاستشارات وعروض الأسعار للخدمات القانونية وتزيد من فرص وصول العملاء الباحثين عن الاستشارات والخدمات القانونية إليهم
  .</p>

</ion-content>
