<ion-avatar class="center-logo">
  <ion-img class="circular-image "
src="https://docs-demo.ionic.io/assets/madison.jpg"
alt="The Wisconsin State Capitol building in Madison, WI at night">
</ion-img>
</ion-avatar>


<div class="Font_theme" dir="rtl">

  <br>

  <div class="inputBox">
    <ion-label>الاسم الاول</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>الاسم الأخير</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>رقم الجوال</ion-label>
    <ion-input ></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>البريد الإلكتروني</ion-label>
    <ion-input></ion-input>
  </div>


  

 
  
 
 

  <br>

  <app-button label="حفظ" (click)="showLoading()"></app-button>


  
  

</div>
