
  <div class="image-container" (click)="fileInput.click()">
    <ion-avatar class="center-logo">
      <ion-img class="circular-image" [src]="user.imageUrl" alt="The Wisconsin State Capitol building in Madison, WI at night">
      </ion-img>
    </ion-avatar>
    <ion-icon class="camera-icon" name="camera"></ion-icon>
  </div>

  <input #fileInput type="file" accept="image/*" (change)="updateProfilePicture($event)" style="display: none;">

  <!-- بقية الكود -->





<div class="Font_theme" dir="rtl">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br>
  
  

  
  <div class="inputBox">
    <ion-label>الاسم الاول</ion-label>
    <ion-input [(ngModel)]="user.firstName"></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>الاسم الأخير</ion-label>
    <ion-input [(ngModel)]="user.lastName"></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>رقم الجوال</ion-label>
    <ion-input [(ngModel)]="user.phoneNumber"></ion-input>
  </div>

  <div class="inputBox">
    <ion-label>البريد الإلكتروني</ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </div>
  
 
 

  <br>

  <app-button label="حفظ" (click)="showLoading()"></app-button>


  
  

</div>
