
  <div class="image-container" (click)="fileInput.click()">
    <ion-avatar class="center-logo">
      <ion-img class="circular-image" [src]="user.image">
      </ion-img>
    </ion-avatar>
    <ion-icon class="camera-icon" name="camera"></ion-icon>
  </div>

  <input #fileInput type="file" accept="image/*" (change)="updateProfilePicture($event)" style="display: none;">

  

  <!-- بقية الكود -->





<div class="Font_theme" dir="rtl">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br>
  
  

  
  <div class="container">
    <ion-label class="input-label">الاسم الأول</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">
      <ion-input maxlength="10" type="text" [clearInput]="true" [(ngModel)]="user.firstName" name="firstName"
        #firstName="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">*
      الاسم الأول مطلوب
    </div>
  </div>
  <br>
  <div class="container">
    <ion-label class="input-label">الاسم الاخير</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">
      <ion-input maxlength="10" type="text" [clearInput]="true" [(ngModel)]="user.lastName" name="lastName"
        #lastName="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">*
      الاسم الأخير مطلوب
    </div>
  </div>
  <br>
  <div class="container">
    <ion-label class="input-label">رقم الجوال</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
      <ion-input maxlength="10" minlength="10" type="tel" placeholder="053-280-1400" [clearInput]="true"
        [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">*
      يجب ان يكون طول رقم الجوال 10 ارقام
    </div>
  </div>
  <br>
  <div class="container">
    <ion-label class="input-label">البريد الإلكتروني</ion-label>
    <ion-item lines="none" class="custom-input"
      [class.invalid]="email.invalid && (email.dirty || email.touched)">
      <ion-input type="email" placeholder="Example@Example.com" [clearInput]="true" [(ngModel)]="user.email"
        name="email" #email="ngModel" required></ion-input>
    </ion-item>
    <div class="error-label" *ngIf="email.invalid && (email.dirty || email.touched)">*
      يجب إدخال بريد إلكتروني صحيح
    </div>
  </div>
  
 
 

  <br>

  <app-button label="حفظ" (click)="save()"></app-button>


  
  

</div>
