<ion-segment class="Font_theme" [(ngModel)]="segment">
  <ion-segment-button value="waiting">
    انتظار
  </ion-segment-button>
  <ion-segment-button value="active">
    نشطة
  </ion-segment-button>
  <ion-segment-button value="finished">
    منتهية
  </ion-segment-button>
</ion-segment>

<ng-container *ngIf="segment === 'waiting'">
  <ion-list class="Font_theme">
    <ion-item *ngFor="let order of requests">
      <ion-label class="Font_theme">
        <h2><h2>{{ order.lawyerName }}</h2></h2>
        <p>{{ order.date | date: 'short' }}</p>
        <p>نوع الطلب: {{ order.advisoryType }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button class="Font_theme" color="medium" disabled>
          قيد الانتظار
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ng-container>

<ng-container *ngIf="segment === 'active'">
  <ion-list class="Font_theme">
    <ion-item *ngFor="let order of activeOrders">
      <ion-label class="Font_theme">
        <h2>{{ order.lawyerName }}</h2>
        <p>{{ order.date | date: 'short' }}</p>
        <p>{{ order.advisoryType }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button class="Font_theme" color="medium" disabled>
          نشطة
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ng-container>

<ng-container *ngIf="segment === 'finished'">
  <ion-list class="Font_theme">
    <ion-item *ngFor="let order of finishedOrders">
      <ion-label class="Font_theme">
        <h2>{{ order.lawyerName }}</h2>
        <p>{{ order.date | date: 'short' }}</p>
        <p>{{ order.advisoryType }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button class="Font_theme" color="medium" disabled>
          منتهية
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ng-container>